.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

html {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-size: 16px;
  background-color: #f4d04e;
  font-family: "Figtree";
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

footer {
  margin-top: 50px;
}

p,
h1 {
  margin: 0;
}

.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  width: 384px;
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: #111111 17px 17px 0 -7px;
  border: #111111 solid 1px;
}

.picture {
  width: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 24px;
}
.illustration {
  height: 200px;
  border-radius: 10px;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 12px;
  flex: 1;
  padding: 24px;
  margin: 0;
}

.content h1 {
  font-size: 24px;
  font-weight: bolder;
  color: #111111;
}

.content h1:hover {
  color: #f4d04e;
  transition: color 7ms ease-in-out;
}

.top-text {
  font-size: 14px;
}

.top-text {
  align-self: flex-start;
}
.top-text.one p {
  font-weight: bolder;
  background-color: #f4d04e;
  padding: 4px 12px;
  border-radius: 4px;
}

.bottom-text {
  font-size: 16px;
  color: #6b6b6b;
}

.author {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 0 24px 24px 24px;
}
.author p {
  font-size: 14px;
  font-weight: bolder;
}

.avatar {
  width: 32px;
  height: 32px;
}
